name: Issues (Script Injection Example)
on:
  issues:
    types:
      - opened
jobs:
  issues-job:
    runs-on: ubuntu-latest
    steps:
    - name: check-out repo
      uses: actions/checkout@v4.1.1
    - name: set intermediate env 
      env: 
        issue_title: ${{ github.event.issue.title }}
      run: |
#          issue_title="${{ github.event.issue.title }}"
          if [[ "$issue_title" == *"bug"* ]]; then
            echo "Issue is about a bug!"
          else
            echo "Issue is not about a bug"
          fi
